@model Order
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h3>Ordering</h3>

    <form asp-action="CheckOut" method="post" class="form-horizontal mt-5 ">
        <div class="form-group">
            <label asp-for="name"></label>
            <div class="col">
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="surName"></label>
            <div class="col">
                <input asp-for="surName" class="form-control" />
                <span asp-validation-for="surName" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="adress"></label>
            <div class="col">
                <input asp-for="adress" class="form-control" />
                <span asp-validation-for="adress" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="phone"></label>
            <div class="col">
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="email"></label>
            <div class="col">
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>

            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Fin" />
    </form>
</div>








